.websites {
  list-style-type: none;
}

.links {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas:
    "websites blogs"
    "smudge shotofcode";
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "websites"
      "blogs"
      "smudge"
      "shotofcode";
  }
}

.blogs:hover,
.websites:hover,
.smudge:hover,
.youtube:hover {
  cursor: pointer;
}

.blogs,
.websites,
.smudge,
.youtube {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5%;
  text-decoration: none;
  color: black;
}

.smudge {
  grid-area: smudge;
}

.youtube {
  grid-area: shotofcode;
}

.blogs {
  grid-area: blogs;
}

.websites {
  grid-area: websites;
}
