.websites {
  list-style-type: none;
}

.links {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas: "websites blogs"
                      "other1 youtube";
}

.blogs:hover, .websites:hover, .other1:hover, .youtube:hover {
  cursor: pointer;
}


.blogs, .websites, .other1, .youtube {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5%;
  text-decoration: none;
}

.other1 {
  grid-area: other1;
}

.youtube{
  grid-area: youtube;
}


.blogs {
  grid-area: blogs;
}

.websites {
  grid-area: websites;
}


