.title {
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: none;
}

.title:hover {
  background: darken(orange, 5%);
  cursor: pointer;
}

.header {
  text-decoration: none;
  text-transform: uppercase;
  background: orange;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
  }
}

.nav {
  flex-grow: 0;
  margin-right: 2rem;
}

.nav-list > li {
  margin-left: 1rem;
}
